{% load static %}
{% load blog_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PepperSZ's blog</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Retrina group" />
    <!--  FavIcon  -->
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan+2:400,500,700" rel="stylesheet">
    <!--  Plugins Css  -->
    <link rel="stylesheet" href="/static/css/plugins.css">
    <!--  Plugins Css  -->
    <link rel="stylesheet" href="/static/css/animated.css">
    <!--  Custom Style CSS  -->
    <link rel="stylesheet" href="/static/css/style.css">
    {% block css %}
    {% endblock %}

</head>
<body data-spy="scroll" data-target="#scrollspy" data-offset="61">

    <!-- ==================== Start Navgition ==================== -->
    <header class="fixed-top">
        <div class="logo-area">
            <a href="/" class="logo">
                <span class="size-sm mb-0 pl-4 mb-1">PepperSZ</span>
            </a>
        </div>
        <div class="header-info-area">
            <a class="overlay-menu-toggler lni-menu size-md" href="javascript:void(0);"></a>
            <div class="overlay-menu">
                <div class="container">
                        <div class="row">
                            <div class="col-lg-9 col-md-4 overlay-nav">
                                <ul class="list-group-p text-left" id="myMenu">
                                    <li class="list-group-item-p">
                                        <a href="/"><span class="nm">01.</span>博客首页</a>
                                    </li>
                                    <li class="list-group-item-p">
                                        <a href="{% url 'blog:list' %}"><span class="nm">02.</span>文章列表</a>
                                    </li>
                                    <li class="list-group-item-p">
                                        <a href="{% url 'blog:about' %}"><span class="nm">03.</span>个人介绍</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-4">
                                <div class="contact-info">
                                    <div class="item">
                                        <h6>博客简介：</h6>
                                        <p>分享关于生物信息学的pipeline和分析方法</p>
                                    </div>
{#                                    <div class="item">#}
{#                                        <h6>坐标：</h6>#}
{#                                        <p> 武汉</p>#}
{#                                    </div>#}
                                    <div class="item">
                                        <h6>Email :</h6>
                                        <p><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="6d030c190c01140a04010108032d0a000c0401430e0200"></a>961522970@qq.com</p>
                                        <ul class="list-inline socails mt-4">
{#                                            <li class="list-inline-item"><a href="#"><i class="lni-facebook-filled"></i></a></li>#}
{#                                            <li class="list-inline-item"><a href="#"><i class="lni-twitter-filled"></i></a></li>#}
                                            <li class="list-inline-item"><a href="https://www.baidu.com"><i class="lni-github-original"></i></a></li>
{#                                            <li class="list-inline-item"><a href="#"><i class="lni-linkedin-original"></i></a></li>#}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </header>
    {% block content %}
    {% endblock %}




    <footer class="footer py-6">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-md-12">
                    <div class="text-center">
                        <a class="logo" href="#">
                            <span>PepperSZ</span>
                        </a>
                        <ul class="list-inline socails mt-4">
{#                            <li class="list-inline-item"><a href="#"><i class="lni-facebook-filled"></i></a></li>#}
{#                            <li class="list-inline-item"><a href="#"><i class="lni-twitter-filled"></i></a></li>#}
                            <li class="list-inline-item"><a href="#"><i class="lni-github-original"></i></a></li>
{#                            <li class="list-inline-item"><a href="#"><i class="lni-linkedin-original"></i></a></li>#}
                        </ul>
                        <p class="text-dark"> 2020 &copy; ARAS. Designed by <a href="http://www.bootstrapmb.com/" class="base-color">Retrina Group</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <a class="color-scheme text-white d-inline-block" href="javascript:void(0)"><i class="lni-night"></i></a>
    <a href="javascript:void(0)" class="return-to-top"><i class="lni-chevron-up"></i></a>
    <script src="/static/js/jquery-3.4.1.min.js"></script>

    <script src="/static/js/plugins.js"></script>
    <script src="/static/js/wow.min.js"></script>
    <script src="/static/js/aras.js"></script>

</body>
</html>